{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "printWidth": 80,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "insertPragma": false,
  "requirePragma": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "parser": "typescript",
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@components/(.*)$",
    "^@pages/(.*)$",
    "^@services/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
