{
  "branches": "main",
  "repositoryUrl": "https://x-access-token:${GITHUB_TOKEN}@github.com/faablecloud/faable.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": "pkg",
        "otp": false,
        "useOidc": true
      }
    ],
    "@semantic-release/github"
  ]
}
