name: Check blog
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
jobs:
  build-cli:
    name: Package CLI
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4

      - run: npm i
      - run: npm run build
